.jumbotron {
    background: #477725;
    color: #FDE792;
}

.icon-summary {
    color: #D1570D;
    font-size: 4.25em;
}

.features {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #e3e3e3;
}

.feature {
    background: #FFF;
    height: 150px;
    border-radius: 5px;
    margin-top: 20px;
}

.icon-feature {
    font-size: 100px;
    padding-top: 20px;
}

footer {
    background: #D1570D;
    color: #5A1F00;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 1.25em;
}